<!Doctype html>

<html lang="en">

<head>
  <meta charset="utf-8">

  <title>Error</title>
  <meta name="description" content="description">
  <meta name="author" content="SitePoint">

  <!--Link to Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/style.css">
  <!--Link to Jquery -->
  <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>


</head>

<body>
  <div class="absCenter">
    <div  class="absCenter" id="#comicLink">
      <p>{{ error_message }}</p>
    </div>
  </div>

</body>

</html>
