<!Doctype html>

<html lang="en">

<head>
  <meta charset="utf-8">

  <title>Index</title>
  <meta name="description" content="description">
  <meta name="author" content="SitePoint">

  <!--Link to Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/style.css">
  <!--Link to Jquery -->
  <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
  <script type="text/javascript" src="/static/index.js"></script>

</head>

<body>
  <div id="comicLink" class="absCenter">
    <div id="comicLinkCenter" class="absCenter">
      <p>Enter link to comic:</p>
      <form id="pageLinkForm" action="/read" method="GET">
        <!-- <input type="text" id="comicPageInput" name="comicPageLink"> -->
        <textarea id="comicPageInput" name="comicPageLink"></textarea>
        <br>
        <input type="submit" class="navButton btn" value="submit">
      </form>
    </div>
  </div>

</body>

</html>
